#footer {
  animation: 5s visivel;
  background-color: #00000033;
  bottom: 0px;
  color: white;
  display: flex;
  font-weight: 650;
  height: 50px;
  justify-content: space-around;
  position: absolute;
  width: 100vw;
}
