@use '../variables';

.container-main {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: 100vh;
  justify-content: center;
  padding: 2rem;
}

.container-image {
  flex: 1;

  img {
    animation: 4s movimentacao;
    border-radius: 5px;
    width: 90%;
  }
}

.container-form {
  animation: 5s visivel;
  background-color: variables.$fundo_container;
  border-radius: 5px;
  display: flex;
  flex: 2;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  width: 100vh;

  h1 {
    color: variables.$fonte_botao_texto;
    font-size: calc(1.5em + 0.5vw);
    margin-bottom: 3rem;
    text-align: center;
  }
}

.form-group {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin: 0 20vh 5px 20vh;
  margin-bottom: 15px;
  justify-content: space-between;

  label {
    flex: 1;
    justify-content: end;
    color: variables.$fonte_botao_texto;
  }

  input {
    border-radius: 12px;
    flex: 3;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3;
    width: 25vw;
  }
}

.form-check-label {
  input {
    height: 15px;
    width: 15px;
  }
}

#btnEsqueciSenha {
  border: none;
  background-color: variables.$fundo_botao_menu;
  border-radius: 5px;
  color: variables.$fonte_botao_menu;
  font-size: 15px;
  padding: 3px 6px;
}

#btnEntrar {
  align-content: flex-start;
  align-items: left;
  background-color: variables.$fundo_botao_menu;
  border-radius: 5px;
  border-style: none;
  color: variables.$fonte_botao_menu;
  margin-top: 1rem;
  padding: 13px;
  transition: all 0.3s;
  width: 30%;

  &:hover {
    background-color: variables.$segunda_cor;
    color: #fff;
    width: 40%;
  }
}

.btn_info:hover {
  opacity: 0.8;
  text-decoration: none;
}

@keyframes visivel {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movimentacao {
  0% {
    margin-left: 50%;
    width: 150%;
  }
  100% {
    width: 90%;
  }
}
