// @use '../../../styles/variables';

.containerLinha{
    margin: 1% 0;
    margin-right: 2%;
    &___none{
        display: none;
    }
    &___flex{
        align-items: center;
        display: flex;
        margin: 0.3% 0.3%;
        // width: 50%;
    }
}
.invisivel {
    display: none;
}